# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/˚

# IDEs
.idea/
.vscode/

# Node
node_modules/

# Logs and temp
*.log
.tmp/
tmp/
/output/
